* {
  padding: 0;
  margin: 0;
}
body {
  user-select: none;
}
main {
  display: flex;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: whitesmoke;
  border-radius: 5px;
  max-width: 350px;
  max-height: 900px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 35%;
  margin-top: 5%;
}
.item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

form {
  max-width: 100%;
}
input {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 40px;
  outline: none;
  text-align: right;
  background-color: black;
  color: white;
}
.input {
  grid-column: 1/-1;
  padding: 0;
  background-color: black;
}
.inputForm {
  background-color: black;
}
.clean {
  grid-column: 1/3;
  background-color: orange;
}
.back {
  grid-column: 3/-1;
}
.equal {
  grid-column: 4;
  grid-row: 7/8;
  background-color: red;
}
.zero {
  grid-column: 1/3;
}
.preview {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0;
  }

  input {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .input {
    background-color: black;
  }
  .item {
    font-size: 32px;
  }
}

@media (max-height: 1366px) {
  .container {
    max-height: 1366px;
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  main {
    background: radial-gradient(
      circle farthest-corner at 100px 50px,
      #fbf2eb,
      #352a3b
    );
  }
  .container {
    flex: 2;
  }
  .item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .preview {
    flex: 3;
    display: initial;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .preview-title {
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .preview-text {
    font-size: 24px;
    hyphens: auto;
  }
}
